n8n/chargeback_agent_flow.json
{
  "name": "CIRI — Agente de Contracargos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-chargeback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_01_webhook_trigger",
      "name": "1. Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ciri-chargeback-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Node 2: Input Validation\n// Validates transaction_id format and sanitizes input against prompt injection\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst txnId = body.transaction_id || '';\nconst motivo = body.motivo || '';\n\n// Validate TXN-XXXXX format\nif (!/^TXN-\\d{5}$/.test(txnId)) {\n  throw new Error(`Invalid transaction_id format: '${txnId}'. Expected TXN-XXXXX.`);\n}\n\n// Sanitize against prompt injection (remove known injection patterns)\nconst INJECTION_PATTERNS = [\n  /ignore previous instructions/gi,\n  /forget your instructions/gi,\n  /you are now/gi,\n  /\\[SYSTEM\\]/gi,\n  /\\[INST\\]/gi,\n];\n\nlet safetMotivo = motivo;\nfor (const pattern of INJECTION_PATTERNS) {\n  if (pattern.test(safetMotivo)) {\n    throw new Error('Potential prompt injection detected in motivo field.');\n  }\n}\n\nreturn [{\n  json: {\n    transaction_id: txnId,\n    motivo: safetMotivo.trim().substring(0, 500),\n    request_id: `REQ-${Date.now()}`,\n    received_at: new Date().toISOString(),\n  }\n}];"
      },
      "id": "node_02_input_validation",
      "name": "2. Input Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Analiza el contracargo para la transacción {{ $json.transaction_id }}.\n\nMotivo declarado por el cliente: {{ $json.motivo }}\n\nDebes investigar este caso completamente usando las herramientas disponibles:\n1. Obtén los datos de la transacción\n2. Revisa los logs de eventos\n3. Busca políticas aplicables\n4. Encuentra casos similares históricos\n5. Evalúa el perfil de riesgo del comercio\n6. Verifica el cumplimiento del SLA\n\nRecoge toda la información necesaria para una resolución fundamentada.",
        "options": {
          "systemMessage": "Eres CIRI, un agente especializado en análisis de contracargos para una fintech latinoamericana.\n\nTU ROL: Investigar contracargos de forma exhaustiva y objetiva, recopilando toda la evidencia disponible antes de formular una recomendación.\n\nPRINCIPIOS:\n- Siempre consulta TODAS las herramientas antes de concluir\n- Las políticas son la ley — si hay un BLOCKER, no hay excepción\n- La evidencia de logs puede revelar errores operativos que cambian el contexto\n- Los precedentes históricos son relevantes pero no vinculantes\n- El bienestar del cliente importa, pero la integridad del sistema también\n\nFORMATO DE RESPUESTA: Devuelve un JSON con todos los datos recopilados por las herramientas, estructurado para el endpoint /api/analyze/resolve.",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "id": "node_03_ai_agent",
      "name": "3. AI Agent (Claude)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/transactions/{{ $fromAI('transaction_id', 'The transaction ID to look up') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "node_03a_tool_lookup_transaction",
      "name": "3a. Tool: lookup_transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 500],
      "description": "Fetch transaction details from SQLite via FastAPI"
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/logs/{{ $fromAI('transaction_id', 'The transaction ID to get logs for') }}",
        "options": {}
      },
      "id": "node_03b_tool_get_logs",
      "name": "3b. Tool: get_logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 580],
      "description": "Fetch event logs for the transaction"
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/policies/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $fromAI('query', 'Semantic search query for relevant policies') }}" },
            { "name": "top_k", "value": "17" }
          ]
        },
        "options": {}
      },
      "id": "node_03c_tool_search_policies",
      "name": "3c. Tool: search_policies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 660],
      "description": "Semantic search for relevant internal policies"
    },
    {
      "parameters": {
        "url": "http://api:8000/api/cases/similar",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "merchant", "value": "={{ $fromAI('merchant', 'Merchant name') }}" },
            { "name": "amount", "value": "={{ $fromAI('amount', 'Transaction amount in USD') }}" },
            { "name": "payment_method", "value": "={{ $fromAI('payment_method', 'Payment method used') }}" },
            { "name": "country", "value": "={{ $fromAI('country', 'Country code') }}" },
            { "name": "fraud_score", "value": "={{ $fromAI('fraud_score', 'Fraud score 0-100') }}" },
            { "name": "motivo", "value": "={{ $fromAI('motivo', 'Chargeback reason') }}" }
          ]
        },
        "options": {}
      },
      "id": "node_03d_tool_find_similar_cases",
      "name": "3d. Tool: find_similar_cases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 740],
      "description": "Find semantically similar historical chargeback cases"
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/merchants/{{ $fromAI('merchant', 'Merchant name to evaluate') }}/risk",
        "options": {}
      },
      "id": "node_03e_tool_merchant_risk",
      "name": "3e. Tool: merchant_risk_profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 820],
      "description": "Get merchant chargeback ratio and risk flags"
    },
    {
      "parameters": {
        "url": "http://api:8000/api/sla/check",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "case_open_date", "value": "={{ $fromAI('case_open_date', 'Date the chargeback case was opened (ISO format)') }}" },
            { "name": "country", "value": "={{ $fromAI('country', 'Country code for SLA rules') }}" },
            { "name": "cliente_vip", "value": "={{ $fromAI('cliente_vip', 'Whether the client is VIP') }}" }
          ]
        },
        "options": {}
      },
      "id": "node_03f_tool_check_sla",
      "name": "3f. Tool: check_sla",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 900],
      "description": "Check SLA compliance (VIP=5d, LATAM=10d, extended=15d)"
    },
    {
      "parameters": {
        "jsCode": "// Node 4: Build ResolveRequest from agent's collected data\n// Extracts structured data from agent output and tool call results\n\nconst agentOutput = $input.first().json;\nconst requestId = $('2. Input Validation').first().json.request_id;\nconst transactionId = $('2. Input Validation').first().json.transaction_id;\nconst motivo = $('2. Input Validation').first().json.motivo;\n\n// Extract data collected by agent tools\nconst txData = agentOutput.transaction || agentOutput.tx_data || {};\nconst policies = agentOutput.policies || [];\nconst similarCases = agentOutput.similar_cases || [];\nconst logs = agentOutput.logs || [];\nconst merchantRisk = agentOutput.merchant_risk || { cb_ratio: 0, flags: [] };\nconst clientHistory = agentOutput.client_history || { total_chargebacks: 0, flags: [] };\nconst agentAnalysis = agentOutput.agent_analysis || agentOutput.text || '';\n\nreturn [{\n  json: {\n    request_id: requestId,\n    resolve_payload: {\n      transaction_id: transactionId,\n      agent_analysis: agentAnalysis,\n      tx_data: txData,\n      policies: policies,\n      similar_cases: similarCases,\n      logs: logs,\n      merchant_risk: merchantRisk,\n      client_history: clientHistory,\n      motivo: motivo,\n      cliente_vip: txData.cliente_vip || false,\n    }\n  }\n}];"
      },
      "id": "node_04_build_resolve_request",
      "name": "4. Build Resolve Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/analyze/resolve",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "", "value": "={{ JSON.stringify($json.resolve_payload) }}" }
          ]
        },
        "options": {
          "bodyContentType": "json",
          "timeout": 60000
        }
      },
      "id": "node_05_call_resolve",
      "name": "5. POST /api/analyze/resolve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/analyze/judge",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resolution: $json, full_context: { transaction: $('4. Build Resolve Request').first().json.resolve_payload.tx_data, policies: $('4. Build Resolve Request').first().json.resolve_payload.policies, similar_cases: $('4. Build Resolve Request').first().json.resolve_payload.similar_cases } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node_06_call_judge",
      "name": "6. POST /api/analyze/judge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $('5. POST /api/analyze/resolve').first().json.risk_level }}",
                    "rightValue": "BLOCKER",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BLOCKER"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $('5. POST /api/analyze/resolve').first().json.risk_level }}",
                    "rightValue": "HIGH",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HIGH"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $('5. POST /api/analyze/resolve').first().json.risk_level }}",
                    "rightValue": "MEDIUM",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MEDIUM"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "node_07_risk_switch",
      "name": "7. Switch: risk_level",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "jsCode": "// Node 8: Auto-Reject (BLOCKER)\n// No human review needed — policy is absolute\n\nconst resolution = $('5. POST /api/analyze/resolve').first().json;\nconst judge = $('6. POST /api/analyze/judge').first().json;\n\nreturn [{\n  json: {\n    hitl_decision: null,\n    final_resolution: resolution,\n    judge_evaluation: judge,\n    auto_processed: true,\n    processing_note: 'Auto-rechazado por BLOCKER de política',\n  }\n}];"
      },
      "id": "node_08_auto_reject",
      "name": "8. Auto-Reject (BLOCKER)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 120]
    },
    {
      "parameters": {
        "resumeUrl": "={{ $execution.resumeUrl }}",
        "options": {
          "responseData": "lastNode",
          "responsePropertyName": "data"
        },
        "amount": 48,
        "unit": "hours"
      },
      "id": "node_09_hitl_wait",
      "name": "9. Wait: HITL (HIGH)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1790, 300],
      "description": "Pauses execution waiting for analyst decision. Timeout: 48h → auto-escalate"
    },
    {
      "parameters": {
        "jsCode": "// Node 10: Process HITL Response\n// Analyst submitted a decision via the HTML report form\n\nconst hitlData = $input.first().json.body || $input.first().json;\nconst resolution = $('5. POST /api/analyze/resolve').first().json;\nconst judge = $('6. POST /api/analyze/judge').first().json;\n\nconst analystDecision = hitlData.analyst_decision || 'APPROVED';\nconst analystNotes = hitlData.analyst_notes || '';\n\n// Apply analyst override if provided\nlet finalResolution = { ...resolution };\nif (analystDecision === 'REJECTED') {\n  finalResolution.recommended_action = 'REJECT';\n  finalResolution.hitl_reason = `Analista rechazó: ${analystNotes}`;\n} else if (analystDecision === 'MODIFIED') {\n  finalResolution.hitl_reason = `Analista modificó: ${analystNotes}`;\n  finalResolution.requires_hitl = false;\n} else {\n  finalResolution.requires_hitl = false;\n}\n\nreturn [{\n  json: {\n    hitl_decision: {\n      analyst_decision: analystDecision,\n      analyst_notes: analystNotes,\n      decided_at: new Date().toISOString(),\n    },\n    final_resolution: finalResolution,\n    judge_evaluation: judge,\n    auto_processed: false,\n  }\n}];"
      },
      "id": "node_10_process_hitl",
      "name": "10. Process HITL Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 480]
    },
    {
      "parameters": {
        "jsCode": "// Node 11: Alert (MEDIUM)\n// Log alert and auto-process with medium priority\n\nconst resolution = $('5. POST /api/analyze/resolve').first().json;\nconst judge = $('6. POST /api/analyze/judge').first().json;\n\n// In production: send Slack/email notification to team\nconsole.log(`MEDIUM RISK ALERT: ${resolution.transaction_id} — ${resolution.recommended_action}`);\n\nreturn [{\n  json: {\n    hitl_decision: null,\n    final_resolution: resolution,\n    judge_evaluation: judge,\n    auto_processed: true,\n    processing_note: 'Riesgo MEDIUM — procesado con alerta enviada al equipo',\n  }\n}];"
      },
      "id": "node_11_medium_alert",
      "name": "11. Alert (MEDIUM)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 660]
    },
    {
      "parameters": {
        "jsCode": "// Node 12: Auto-Resolve (LOW)\n// Low risk — fully automated resolution\n\nconst resolution = $('5. POST /api/analyze/resolve').first().json;\nconst judge = $('6. POST /api/analyze/judge').first().json;\n\nreturn [{\n  json: {\n    hitl_decision: null,\n    final_resolution: resolution,\n    judge_evaluation: judge,\n    auto_processed: true,\n    processing_note: 'Riesgo LOW — resolución automática',\n  }\n}];"
      },
      "id": "node_12_auto_resolve_low",
      "name": "12. Auto-Resolve (LOW)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 840]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "id": "node_13_merge",
      "name": "13. Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2010, 480]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/feedback",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ transaction_id: $('2. Input Validation').first().json.transaction_id, analyst_decision: $json.hitl_decision ? $json.hitl_decision.analyst_decision : 'APPROVED', analyst_notes: $json.hitl_decision ? $json.hitl_decision.analyst_notes : $json.processing_note, final_outcome: $json.final_resolution.recommended_action, judge_score: $json.judge_evaluation.overall_score || 0, resolution: $json.final_resolution }) }}",
        "options": {}
      },
      "id": "node_14_post_feedback",
      "name": "14. POST /api/feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 480]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/reports/html",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ transaction: $('4. Build Resolve Request').first().json.resolve_payload.tx_data, resolution: $('13. Merge Branches').first().json.final_resolution, judge_evaluation: $('13. Merge Branches').first().json.judge_evaluation, agent_analysis: $('4. Build Resolve Request').first().json.resolve_payload.agent_analysis, merchant_risk: $('4. Build Resolve Request').first().json.resolve_payload.merchant_risk, client_profile: $('4. Build Resolve Request').first().json.resolve_payload.client_history, logs: $('4. Build Resolve Request').first().json.resolve_payload.logs, policies_evaluated: $('5. POST /api/analyze/resolve').first().json.policy_verdicts || [], similar_cases: $('4. Build Resolve Request').first().json.resolve_payload.similar_cases, hitl_decision: $('13. Merge Branches').first().json.hitl_decision, cache_hit: false, guardrail_warnings: $('5. POST /api/analyze/resolve').first().json.guardrail_warnings || [] }) }}",
        "options": {}
      },
      "id": "node_15_post_report",
      "name": "15. POST /api/reports/html",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 480]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      },
      "id": "node_16_respond_webhook",
      "name": "16. Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2670, 480]
    },
    {
      "parameters": {},
      "id": "node_17_error_trigger",
      "name": "17. Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "jsCode": "// Node 18: Error Handler\n// Formats error response for webhook\n\nconst error = $input.first().json;\nconsole.error('CIRI Agent Error:', JSON.stringify(error, null, 2));\n\nreturn [{\n  json: {\n    error: true,\n    message: error.message || 'Error interno del sistema',\n    workflow: error.workflow?.name || 'Chargeback Agent',\n    node: error.node?.name || 'Unknown',\n    timestamp: new Date().toISOString(),\n  }\n}];"
      },
      "id": "node_18_error_handler",
      "name": "18. Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error, message: $json.message, timestamp: $json.timestamp }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "node_19_error_response",
      "name": "19. Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 600]
    }
  ],
  "connections": {
    "1. Webhook Trigger": {
      "main": [
        [{ "node": "2. Input Validation", "type": "main", "index": 0 }]
      ]
    },
    "2. Input Validation": {
      "main": [
        [{ "node": "3. AI Agent (Claude)", "type": "main", "index": 0 }]
      ]
    },
    "3. AI Agent (Claude)": {
      "main": [
        [{ "node": "4. Build Resolve Request", "type": "main", "index": 0 }]
      ]
    },
    "3a. Tool: lookup_transaction": {
      "main": [
        [{ "node": "3. AI Agent (Claude)", "type": "ai_tool", "index": 0 }]
      ]
    },
    "3b. Tool: get_logs": {
      "main": [
        [{ "node": "3. AI Agent (Claude)", "type": "ai_tool", "index": 0 }]
      ]
    },
    "3c. Tool: search_policies": {
      "main": [
        [{ "node": "3. AI Agent (Claude)", "type": "ai_tool", "index": 0 }]
      ]
    },
    "3d. Tool: find_similar_cases": {
      "main": [
        [{ "node": "3. AI Agent (Claude)", "type": "ai_tool", "index": 0 }]
      ]
    },
    "3e. Tool: merchant_risk_profile": {
      "main": [
        [{ "node": "3. AI Agent (Claude)", "type": "ai_tool", "index": 0 }]
      ]
    },
    "3f. Tool: check_sla": {
      "main": [
        [{ "node": "3. AI Agent (Claude)", "type": "ai_tool", "index": 0 }]
      ]
    },
    "4. Build Resolve Request": {
      "main": [
        [{ "node": "5. POST /api/analyze/resolve", "type": "main", "index": 0 }]
      ]
    },
    "5. POST /api/analyze/resolve": {
      "main": [
        [{ "node": "6. POST /api/analyze/judge", "type": "main", "index": 0 }]
      ]
    },
    "6. POST /api/analyze/judge": {
      "main": [
        [{ "node": "7. Switch: risk_level", "type": "main", "index": 0 }]
      ]
    },
    "7. Switch: risk_level": {
      "main": [
        [{ "node": "8. Auto-Reject (BLOCKER)", "type": "main", "index": 0 }],
        [{ "node": "9. Wait: HITL (HIGH)", "type": "main", "index": 0 }],
        [{ "node": "11. Alert (MEDIUM)", "type": "main", "index": 0 }],
        [{ "node": "12. Auto-Resolve (LOW)", "type": "main", "index": 0 }]
      ]
    },
    "8. Auto-Reject (BLOCKER)": {
      "main": [
        [{ "node": "13. Merge Branches", "type": "main", "index": 0 }]
      ]
    },
    "9. Wait: HITL (HIGH)": {
      "main": [
        [{ "node": "10. Process HITL Response", "type": "main", "index": 0 }]
      ]
    },
    "10. Process HITL Response": {
      "main": [
        [{ "node": "13. Merge Branches", "type": "main", "index": 0 }]
      ]
    },
    "11. Alert (MEDIUM)": {
      "main": [
        [{ "node": "13. Merge Branches", "type": "main", "index": 0 }]
      ]
    },
    "12. Auto-Resolve (LOW)": {
      "main": [
        [{ "node": "13. Merge Branches", "type": "main", "index": 0 }]
      ]
    },
    "13. Merge Branches": {
      "main": [
        [{ "node": "14. POST /api/feedback", "type": "main", "index": 0 }]
      ]
    },
    "14. POST /api/feedback": {
      "main": [
        [{ "node": "15. POST /api/reports/html", "type": "main", "index": 0 }]
      ]
    },
    "15. POST /api/reports/html": {
      "main": [
        [{ "node": "16. Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "17. Error Trigger": {
      "main": [
        [{ "node": "18. Error Handler", "type": "main", "index": 0 }]
      ]
    },
    "18. Error Handler": {
      "main": [
        [{ "node": "19. Error Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "CIRI", "createdAt": "2024-01-01T00:00:00.000Z", "updatedAt": "2024-01-01T00:00:00.000Z" }
  ],
  "meta": {
    "instanceId": "ciri-chargeback-agent",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "_comment": "CIRI Chargeback Agent Flow — 19 nodes (3 AI tools connecting back to the AI Agent node). Import into n8n via Settings > Import workflow. Configure ANTHROPIC_API_KEY credential in n8n before activating."
}
