n8n/workflow_ciri_agent.json
{
  "name": "CIRI Chargeback Agent — Orquestación Explícita",
  "nodes": [
    {
      "parameters": {
        "content": "## CIRI Chargeback Agent · Orquestación Explícita\nCada paso es un nodo HTTP visible. Sin cajas negras. Sin AI Agent como orquestador. FastAPI ejecuta la lógica; n8n dirige el flujo.",
        "height": 80,
        "width": 4400,
        "color": 4
      },
      "id": "453cc8a6-0edb-4c18-875d-c189999d014b",
      "name": "Sticky Note — Resumen",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        1536
      ]
    },
    {
      "parameters": {
        "content": "## 🟢 SECCIÓN 1 — Entrada y Validación\n\n**Webhook** expone `POST /webhook/chargeback-agent`.\n\n**Validar TXN** verifica formato `TXN-XXXXX` y extrae:\n- `transaction_id`\n- `motivo` (opcional)\n- `cliente_vip` (bool)",
        "height": 300,
        "width": 716,
        "color": 5
      },
      "id": "4d213f88-4fd9-4163-9e37-3742fe7a06aa",
      "name": "Sticky Note — Sección 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        1680
      ]
    },
    {
      "parameters": {
        "content": "## 🔵 SECCIÓN 2 — Recopilación de Contexto (7 herramientas FastAPI)\n\nCadena lineal: cada nodo puede referenciar datos de cualquier nodo anterior con `$('NombreNodo').item.json`.\n\n`Obtener TX → Logs → Políticas RAG → Casos Similares RAG → Riesgo Comercio → Historial Cliente → SLA`\n\nTodas son llamadas **GET/POST determinísticas** a FastAPI — sin LLM en esta sección.",
        "height": 300,
        "width": 1524,
        "color": 3
      },
      "id": "b744c644-1983-4e98-b996-81e83bcf44d0",
      "name": "Sticky Note — Sección 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        1680
      ]
    },
    {
      "parameters": {
        "content": "## 🟣 SECCIÓN 3 — Análisis con IA\n\n**Compilar Contexto**: fusiona los 7 resultados en un objeto unificado.\n\n**Sintetizar Resolución**: llama `POST /api/analyze/resolve` → LLM evalúa políticas + casos + logs → devuelve `recommended_action`, `risk_level`, `confidence`, `guardrail_warnings`.\n\n**Juez de Calidad**: llama `POST /api/analyze/judge` → LLM-as-Judge (score 1–10).",
        "height": 300,
        "width": 960,
        "color": 6
      },
      "id": "eb35f32a-fc16-440f-b258-c5a8bb9242c2",
      "name": "Sticky Note — Sección 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3456,
        1664
      ]
    },
    {
      "parameters": {
        "content": "## 🔀 SECCIÓN 4 — Enrutamiento por Riesgo\n\n**Switch** enruta por `resolution.risk_level`:\n- **BLOCKER** → rechazado automático → reporte HTML inmediato\n- **HIGH** → reporte HTML con formulario HITL embebido *(extensión: agregar `Wait` node + notificación Slack/Gmail antes de generar reporte)*\n- **MEDIUM** → reporte HTML con alerta de revisión\n- **LOW** → reporte HTML con aprobación automática\n\nTodos los reportes llaman al mismo endpoint `POST /api/reports/html`.",
        "height": 324,
        "width": 760,
        "color": 2
      },
      "id": "b3516135-2c39-4418-9f2d-43adadf3234e",
      "name": "Sticky Note — Sección 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4448,
        1648
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chargeback-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7fdde72c-ede9-45ab-b82c-ed3d9f117114",
      "name": "Webhook — Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1472,
        2272
      ],
      "webhookId": "ciri-chargeback-agent"
    },
    {
      "parameters": {
        "jsCode": "// Extraer y validar el body del webhook\nconst body = $input.first().json.body || {};\n\nconst txnId      = (body.transaction_id || '').trim();\nconst motivo     = (body.motivo || '').trim();\nconst clienteVip = Boolean(body.cliente_vip);\n\n// Validar formato TXN-XXXXX (exactamente 5 dígitos)\nif (!txnId.match(/^TXN-\\d{5}$/)) {\n  throw new Error(\n    `Formato de transaction_id inválido: \"${txnId}\". ` +\n    `Se esperaba TXN-XXXXX (ej: TXN-00051).`\n  );\n}\n\nreturn [{ json: { transaction_id: txnId, motivo, cliente_vip: clienteVip } }];"
      },
      "id": "da072941-6f48-40b1-942d-53b8d2fc0dab",
      "name": "Validar Formato TXN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        2272
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://ciri-chargeback-agent.onrender.com/api/transactions/' + $json.transaction_id }}",
        "options": {}
      },
      "id": "4a478364-6fa5-425f-9438-3a856f08b00b",
      "name": "Obtener Transacción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        2272
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://ciri-chargeback-agent.onrender.com/api/logs/' + $('Validar Formato TXN').item.json.transaction_id }}",
        "options": {}
      },
      "id": "554a44e9-e3cf-4e8a-b939-441a32e4b3e0",
      "name": "Obtener Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        2272
      ]
    },
    {
      "parameters": {
        "url": "https://ciri-chargeback-agent.onrender.com/api/policies/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "motivo",
              "value": "={{ $('Validar Formato TXN').item.json.motivo }}"
            },
            {
              "name": "channel",
              "value": "={{ $('Obtener Transacción').item.json.channel }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Obtener Transacción').item.json.payment_method }}"
            },
            {
              "name": "fraud_score",
              "value": "={{ $('Obtener Transacción').item.json.fraud_score }}"
            },
            {
              "name": "country",
              "value": "={{ $('Obtener Transacción').item.json.country }}"
            }
          ]
        },
        "options": {}
      },
      "id": "478e3852-b699-4065-85e8-8ec75a4ab834",
      "name": "Buscar Políticas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        2272
      ]
    },
    {
      "parameters": {
        "url": "https://ciri-chargeback-agent.onrender.com/api/cases/similar",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "merchant",
              "value": "={{ $('Obtener Transacción').item.json.merchant }}"
            },
            {
              "name": "amount",
              "value": "={{ $('Obtener Transacción').item.json.amount_usd }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Obtener Transacción').item.json.payment_method }}"
            },
            {
              "name": "country",
              "value": "={{ $('Obtener Transacción').item.json.country }}"
            },
            {
              "name": "fraud_score",
              "value": "={{ $('Obtener Transacción').item.json.fraud_score }}"
            },
            {
              "name": "motivo",
              "value": "={{ $('Validar Formato TXN').item.json.motivo }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4a7f7836-b241-4754-9244-8d3e58fe1b03",
      "name": "Buscar Casos Similares",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        2272
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://ciri-chargeback-agent.onrender.com/api/merchants/' + encodeURIComponent($('Obtener Transacción').item.json.merchant) + '/risk' }}",
        "options": {}
      },
      "id": "ca91a4a4-4be7-490d-bdf0-726113612058",
      "name": "Riesgo del Comercio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        2272
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://ciri-chargeback-agent.onrender.com/api/clients/' + $('Obtener Transacción').item.json.client_id + '/history' }}",
        "options": {}
      },
      "id": "d027fa74-e313-4504-b064-578f70367f69",
      "name": "Historial del Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3056,
        2272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/sla/check",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "case_open_date",
              "value": "={{ $('Obtener Transacción').item.json.date }}"
            },
            {
              "name": "country",
              "value": "={{ $('Obtener Transacción').item.json.country }}"
            },
            {
              "name": "cliente_vip",
              "value": "={{ $('Validar Formato TXN').item.json.cliente_vip }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28182696-8b26-4d50-a7e1-2483a095cb4e",
      "name": "Verificar SLA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        2272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fusionar todos los datos recopilados en un objeto unificado\nconst input      = $('Validar Formato TXN').item.json;\nconst txn        = $('Obtener Transacción').item.json;\nconst logsData   = $('Obtener Logs').item.json;\nconst policies   = $('Buscar Políticas').item.json;\nconst cases      = $('Buscar Casos Similares').item.json;\nconst merchant   = $('Riesgo del Comercio').item.json;\nconst client     = $('Historial del Cliente').item.json;\nconst sla        = $('Verificar SLA').item.json;\n\nconst slaStatus = sla.within_sla\n  ? `dentro de SLA (${sla.days_elapsed}d / ${sla.sla_limit_days}d)`\n  : `FUERA de SLA (${sla.days_elapsed}d / ${sla.sla_limit_days}d)`;\n\nconst agentAnalysis = [\n  `Caso ${input.transaction_id}: ${txn.merchant}, USD ${txn.amount_usd},`,\n  `canal ${txn.channel}, país ${txn.country}, score fraude ${txn.fraud_score}.`,\n  `Motivo: ${input.motivo || 'no especificado'}.`,\n  `SLA: ${slaStatus}.`,\n  `Cliente VIP: ${input.cliente_vip ? 'sí' : 'no'}.`,\n  `Políticas encontradas: ${(policies.results || []).length}.`,\n  `Casos similares: ${(cases.results || []).length}.`,\n].join(' ');\n\nreturn [{\n  json: {\n    transaction_id:  input.transaction_id,\n    motivo:          input.motivo,\n    cliente_vip:     input.cliente_vip,\n    tx_data:         txn,\n    logs:            logsData.logs || [],\n    policies:        policies.results || [],\n    similar_cases:   cases.results || [],\n    merchant_risk:   merchant,\n    client_history:  client,\n    sla:             sla,\n    agent_analysis:  agentAnalysis,\n  }\n}];"
      },
      "id": "1297b168-fa5f-4ca1-8640-bd4db026da49",
      "name": "Compilar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        2272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/analyze/resolve",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction_id",
              "value": "={{ $json.transaction_id }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "tx_data",
              "value": "={{ $json.tx_data }}"
            },
            {
              "name": "policies",
              "value": "={{ $json.policies }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_history",
              "value": "={{ $json.client_history }}"
            },
            {
              "name": "motivo",
              "value": "={{ $json.motivo }}"
            },
            {
              "name": "cliente_vip",
              "value": "={{ $json.cliente_vip }}"
            }
          ]
        },
        "options": {}
      },
      "id": "226a73ba-a149-49c6-a933-51835d435231",
      "name": "Sintetizar Resolución",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        2272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/analyze/judge",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "resolution",
              "value": "={{ $json }}"
            },
            {
              "name": "full_context",
              "value": "={{ { transaction: $('Compilar Contexto').item.json.tx_data, motivo: $('Compilar Contexto').item.json.motivo, policies: $('Compilar Contexto').item.json.policies, similar_cases: $('Compilar Contexto').item.json.similar_cases } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9214e920-e3b0-4adf-b81e-38c08a1cca7c",
      "name": "Juez de Calidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construir el payload exacto que espera POST /api/reports/html (ReportRequest)\nconst ctx        = $('Compilar Contexto').item.json;\nconst resolution = $('Sintetizar Resolución').item.json;\nconst judge      = $input.first().json;  // output de Juez de Calidad\n\nreturn [{\n  json: {\n    // Campos de ReportRequest\n    transaction:         ctx.tx_data,\n    resolution:          resolution,\n    judge_evaluation:    judge,\n    agent_analysis:      ctx.agent_analysis,\n    merchant_risk:       ctx.merchant_risk,\n    client_profile:      ctx.client_history,\n    logs:                ctx.logs,\n    policies_evaluated:  ctx.policies,\n    similar_cases:       ctx.similar_cases,\n    hitl_decision:       null,\n    cache_hit:           false,\n    guardrail_warnings:  resolution.guardrail_warnings || [],\n  }\n}];"
      },
      "id": "b5e2dccf-6644-4a69-b307-6d429687b963",
      "name": "Preparar Informe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        2272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-blocker",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "BLOCKER",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BLOCKER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-high",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "HIGH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HIGH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-medium",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "MEDIUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MEDIUM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-low",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "LOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LOW"
            }
          ]
        },
        "options": {}
      },
      "id": "a4a0ce35-1151-47f6-b31a-3b7006801f68",
      "name": "Switch — Nivel de Riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4464,
        2240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b8f6ce1-149c-4010-ab68-d7626342f68c",
      "name": "Generar Reporte — BLOCKER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4768,
        2000
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "7f509249-1873-4407-8dac-6edce6008987",
      "name": "Responder — BLOCKER",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5024,
        2000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            }
          ]
        },
        "options": {}
      },
      "id": "75b79429-fe3f-4999-8f6f-5771f20ae8c3",
      "name": "Generar Reporte — HIGH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4768,
        2208
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "1fb88a10-92d6-4fab-a084-dbd933f6f6b6",
      "name": "Responder — HIGH",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5024,
        2208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7bdb206-7a39-4d70-aee2-0bd8572f918d",
      "name": "Generar Reporte — MEDIUM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4768,
        2400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "ce54b9b4-d8f3-42b8-8011-f9dc6337871a",
      "name": "Responder — MEDIUM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5024,
        2400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c22bcce-38e0-4195-8077-a9f2e95db4be",
      "name": "Generar Reporte — LOW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4768,
        2624
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "66572e38-78af-498b-aaeb-fc66a6a17013",
      "name": "Responder — LOW",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5024,
        2624
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Entrada": {
      "main": [
        [
          {
            "node": "Validar Formato TXN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Formato TXN": {
      "main": [
        [
          {
            "node": "Obtener Transacción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Transacción": {
      "main": [
        [
          {
            "node": "Obtener Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Logs": {
      "main": [
        [
          {
            "node": "Buscar Políticas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Políticas": {
      "main": [
        [
          {
            "node": "Buscar Casos Similares",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Casos Similares": {
      "main": [
        [
          {
            "node": "Riesgo del Comercio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Riesgo del Comercio": {
      "main": [
        [
          {
            "node": "Historial del Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historial del Cliente": {
      "main": [
        [
          {
            "node": "Verificar SLA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar SLA": {
      "main": [
        [
          {
            "node": "Compilar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compilar Contexto": {
      "main": [
        [
          {
            "node": "Sintetizar Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sintetizar Resolución": {
      "main": [
        [
          {
            "node": "Juez de Calidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juez de Calidad": {
      "main": [
        [
          {
            "node": "Preparar Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Informe": {
      "main": [
        [
          {
            "node": "Switch — Nivel de Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Nivel de Riesgo": {
      "main": [
        [
          {
            "node": "Generar Reporte — BLOCKER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Reporte — HIGH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Reporte — MEDIUM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Reporte — LOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — BLOCKER": {
      "main": [
        [
          {
            "node": "Responder — BLOCKER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — HIGH": {
      "main": [
        [
          {
            "node": "Responder — HIGH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — MEDIUM": {
      "main": [
        [
          {
            "node": "Responder — MEDIUM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — LOW": {
      "main": [
        [
          {
            "node": "Responder — LOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7bd76b78-e64f-46a1-bd85-57bb8f02dedc",
  "meta": {
    "instanceId": "36ed1d7aaae0ce47f22100fe1416286231c2bf358a8645fb0e55f588462fc9fb"
  },
  "nodeGroups": [],
  "id": "vbZqodrrvO3mHM7K",
  "tags": [
    {
      "name": "CIRI",
      "id": "hPqDvQS3dMdHEFrX",
      "updatedAt": "2026-07-22T05:17:01.070Z",
      "createdAt": "2026-07-22T05:17:01.070Z"
    }
  ]
}