n8n/workflow_ciri_agent.json
{
  "name": "CIRI Chargeback Agent — Orquestación Explícita",
  "nodes": [
    {
      "parameters": {
        "content": "## CIRI Chargeback Agent · Orquestación Explícita\nCada paso es un nodo visible. Sin AI Agent black box. n8n decide el flujo; FastAPI ejecuta la lógica de negocio.",
        "height": 80,
        "width": 4752,
        "color": 4
      },
      "id": "5a5055f6-b155-4d08-bfc3-f36e1f50ca7f",
      "name": "Sticky Note — Resumen",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        59040,
        21376
      ]
    },
    {
      "parameters": {
        "content": "## 🟢 §1 — ENTRADA Y VALIDACIÓN\n\n**IF node** valida formato TXN-XXXXX.\n- ✅ True → **Set node** extrae campos limpios\n- ❌ False → responde 400 sin continuar\n\nError explícito desde el primer nodo.",
        "height": 1556,
        "width": 920,
        "color": 5
      },
      "id": "9dc82bdd-056e-49c9-9ecd-05fa837b08df",
      "name": "Sticky Note — Sección 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        58800,
        21488
      ]
    },
    {
      "parameters": {
        "content": "## 🔵 §2 — CONTEXTO PARALELO\n\nDespués de obtener la transacción, **6 ramas corren en paralelo**. El nodo **Merge** espera a que todas terminen.\n\n**Nodos nativos de n8n (sin FastAPI):**\n- ✅ **Evaluar Riesgo Comercio** (Set): computa `flags` e `is_strategic` de los datos crudos del comercio.\n- ✅ **Evaluar Historial Cliente** (Set): computa `flags` de riesgo del cliente.\n- ✅ **Verificar SLA** (Set): calcula días transcurridos y límite SLA según país y VIP — sin HTTP call.\n\nReducción de latencia: de ~6× a ~1× el tiempo de un call.",
        "height": 1564,
        "width": 776,
        "color": 3
      },
      "id": "b3ee8425-a18f-4454-b11f-4307a9582543",
      "name": "Sticky Note — Sección 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        59728,
        21488
      ]
    },
    {
      "parameters": {
        "content": "## 🟣 §3 — ANÁLISIS CON IA\n\n**Compilar Contexto**: fusiona los 6 resultados del Merge en un objeto unificado.\n\n**Sintetizar Resolución** → FastAPI (LLM con guardrails + caché semántico) evalúa políticas + casos + logs → devuelve `recommended_action`, `risk_level`, `confidence`, `guardrail_warnings`.\n\n**Juez de Calidad** → **Claude directo vía Anthropic API** (HTTP Request nativo). Sin pasar por FastAPI: n8n envía el contexto completo + resolución propuesta, Claude devuelve JSON de evaluación.\n\n**Extraer Evaluación** (Set): parsea la respuesta de Anthropic y expone `judge_evaluation` como objeto n8n.",
        "height": 1560,
        "width": 1432,
        "color": 6
      },
      "id": "9636afc4-fc42-4c2b-ae53-487c0421f234",
      "name": "Sticky Note — Sección 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60512,
        21488
      ]
    },
    {
      "parameters": {
        "content": "## 🔀 §4 — ENRUTAMIENTO POR RIESGO\n\n**Switch** por `resolution.risk_level`:\n- **BLOCKER** → rechazo automático inmediato\n- **HIGH** → flujo HITL (ver abajo)\n- **MEDIUM** → alerta de revisión\n- **LOW** → aprobación automática\n\nTodos los reportes: `POST /api/reports/html`",
        "height": 1360,
        "width": 1840,
        "color": 2
      },
      "id": "cfc28e90-c1cb-4d45-a206-2750274ffba4",
      "name": "Sticky Note — Sección 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        61968,
        21488
      ]
    },
    {
      "parameters": {
        "content": "## 🔶 RAMA HIGH — HITL (Human-in-the-Loop)\n\n1. **Notificar Analista** prepara el payload con `$execution.resumeUrl`\n   *(en prod: conectar nodo Gmail o Slack antes del Wait)*\n2. **Wait** pausa la ejecución hasta recibir aprobación\n3. Analista POST `{ decision, notes }` al `resumeUrl`\n4. **Procesar HITL** incorpora la decisión al contexto\n5. **Registrar Feedback** → POST /api/feedback (auto-indexa si score ≥ 8.0)\n6. Genera y responde el reporte final",
        "height": 220,
        "width": 516,
        "color": 7
      },
      "id": "05e9d1fd-f29a-4616-a044-fc0c72ad5706",
      "name": "Sticky Note — HITL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        62432,
        21952
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chargeback-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e62e794a-6148-46a1-98f7-5c428ff465e7",
      "name": "Webhook — Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        58976,
        22016
      ],
      "webhookId": "ciri-chargeback-agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-txn-format",
              "leftValue": "={{ ($input.first().json.body?.transaction_id || $input.first().json.transaction_id || $input.first().json['Transaction ID'] || '').trim() }}",
              "rightValue": "TXN-[0-9]{5}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d22f442-d92b-4d9e-8ce2-ff5159897f84",
      "name": "Validar Formato — IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        59184,
        22016
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-txn-id",
              "name": "transaction_id",
              "value": "={{ ($input.first().json.body?.transaction_id || $input.first().json.transaction_id || $input.first().json['Transaction ID'] || '').trim() }}",
              "type": "string"
            },
            {
              "id": "field-motivo",
              "name": "motivo",
              "value": "={{ ($input.first().json.body?.motivo || $input.first().json.motivo || $input.first().json['Motivo'] || '').trim() }}",
              "type": "string"
            },
            {
              "id": "field-vip",
              "name": "cliente_vip",
              "value": "={{ Boolean($input.first().json.body?.cliente_vip || $input.first().json.cliente_vip || $input.first().json['Cliente VIP'] === 'Sí') }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "f9207f17-c42f-4b6a-ad43-ddf6780f243a",
      "name": "Validar Formato TXN",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        59376,
        22000
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Formato de transaction_id inválido. Se esperaba TXN-XXXXX (ej: TXN-00051).', received: ($input.first().json.body?.transaction_id || $input.first().json.transaction_id || '(vacío)') } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1c48d7e-b258-455f-97f1-6cb49acfc985",
      "name": "Error — TXN Inválida",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        59376,
        22208
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.API_BASE_URL + '/api/transactions/' + $('Validar Formato TXN').first().json.transaction_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "43995e3d-f280-4f69-a361-4fb4f22aac2e",
      "name": "Obtener Transacción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        59776,
        22096
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $vars.API_BASE_URL + '/api/logs/' + $('Validar Formato TXN').first().json.transaction_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "508d1bb8-ba42-471e-b53b-42d2249a0568",
      "name": "Obtener Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60016,
        21984
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $vars.API_BASE_URL }}/api/policies/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "motivo",
              "value": "={{ $('Validar Formato TXN').first().json.motivo }}"
            },
            {
              "name": "channel",
              "value": "={{ $('Obtener Transacción').first().json.channel }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Obtener Transacción').first().json.payment_method }}"
            },
            {
              "name": "fraud_score",
              "value": "={{ $('Obtener Transacción').first().json.fraud_score }}"
            },
            {
              "name": "country",
              "value": "={{ $('Obtener Transacción').first().json.country }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2728f8ae-076c-4a11-a22f-c682654a232c",
      "name": "Buscar Políticas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60016,
        22144
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $vars.API_BASE_URL }}/api/cases/similar",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "merchant",
              "value": "={{ $('Obtener Transacción').first().json.merchant }}"
            },
            {
              "name": "amount",
              "value": "={{ $('Obtener Transacción').first().json.amount_usd }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Obtener Transacción').first().json.payment_method }}"
            },
            {
              "name": "country",
              "value": "={{ $('Obtener Transacción').first().json.country }}"
            },
            {
              "name": "fraud_score",
              "value": "={{ $('Obtener Transacción').first().json.fraud_score }}"
            },
            {
              "name": "motivo",
              "value": "={{ $('Validar Formato TXN').first().json.motivo }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "e9d5382e-4ea0-47a0-8807-13373f13c71a",
      "name": "Buscar Casos Similares",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60016,
        22304
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $vars.API_BASE_URL + '/api/merchants/' + encodeURIComponent($('Obtener Transacción').first().json.merchant) + '/risk' }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ce6299a1-30bf-4aa1-a352-958219612d50",
      "name": "Riesgo del Comercio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60016,
        22464
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-merchant-flags",
              "name": "flags",
              "value": "={{ [$json.cb_ratio > 0.02 ? 'suspended_merchant' : $json.cb_ratio > 0.01 ? 'high_cb_ratio' : null].filter(x => x !== null) }}",
              "type": "array"
            },
            {
              "id": "field-merchant-strategic",
              "name": "is_strategic",
              "value": "={{ $json.total_volume_usd > 1000000 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "32974a2f-637b-442f-a02a-b32c79dc1662",
      "name": "Evaluar Riesgo Comercio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60256,
        22352
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $vars.API_BASE_URL + '/api/clients/' + $('Obtener Transacción').first().json.client_id + '/history' }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e8567d50-3251-443e-9577-dfc392a437da",
      "name": "Historial del Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60016,
        22624
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-client-flags",
              "name": "flags",
              "value": "={{ [$json.total_chargebacks > 3 ? 'recidivist' : null, ($json.countries_used || []).length > 3 ? 'geo_anomaly' : null].filter(x => x !== null) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "0b51c0fc-2d6b-4445-bfe1-bc821cce53cb",
      "name": "Evaluar Historial Cliente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60336,
        22608
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-days-elapsed",
              "name": "days_elapsed",
              "value": "={{ Math.floor((Date.now() - new Date($('Obtener Transacción').first().json.date).getTime()) / 86400000) }}",
              "type": "number"
            },
            {
              "id": "field-sla-limit",
              "name": "sla_limit_days",
              "value": "={{ $('Validar Formato TXN').first().json.cliente_vip ? 5 : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').first().json.country) ? 15 : 10 }}",
              "type": "number"
            },
            {
              "id": "field-sla-type",
              "name": "sla_type",
              "value": "={{ $('Validar Formato TXN').first().json.cliente_vip ? 'vip' : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').first().json.country) ? 'extended' : 'standard' }}",
              "type": "string"
            },
            {
              "id": "field-policy-ref",
              "name": "policy_reference",
              "value": "={{ $('Validar Formato TXN').first().json.cliente_vip ? 'POL-EXC-002 (5 días)' : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').first().json.country) ? 'POL-EXC-004 (15 días)' : 'POL-SLA-002 (10 días)' }}",
              "type": "string"
            },
            {
              "id": "field-within-sla",
              "name": "within_sla",
              "value": "={{ Math.floor((Date.now() - new Date($('Obtener Transacción').first().json.date).getTime()) / 86400000) <= ($('Validar Formato TXN').first().json.cliente_vip ? 5 : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').first().json.country) ? 15 : 10) }}",
              "type": "boolean"
            },
            {
              "id": "field-compensation",
              "name": "compensation_applicable",
              "value": "={{ Math.floor((Date.now() - new Date($('Obtener Transacción').first().json.date).getTime()) / 86400000) > ($('Validar Formato TXN').first().json.cliente_vip ? 5 : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').first().json.country) ? 15 : 10) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "adaf7147-3b81-4663-96bb-f8b68fd19713",
      "name": "Verificar SLA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60016,
        22784
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "id": "e578ebd1-5945-4e6a-8727-21954748b11c",
      "name": "Merge — Contexto Paralelo",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        60592,
        21968
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fusionar todos los datos recopilados en un objeto unificado\nconst input    = $('Validar Formato TXN').first().json;\nconst txn      = $('Obtener Transacción').first().json || {};\nconst logsData = $('Obtener Logs').first().json || {};\nconst policies = $('Buscar Políticas').first().json || {};\nconst cases    = $('Buscar Casos Similares').first().json || {};\nconst sla      = $('Verificar SLA').first().json || {};\n\n// Merchant: datos crudos de FastAPI + flags evaluados en n8n\nlet merchant = {};\ntry {\n  merchant = {\n    ...$('Riesgo del Comercio').first().json,\n    ...$('Evaluar Riesgo Comercio').first().json,\n  };\n} catch (e) { merchant = { error: e.message }; }\n\n// Cliente: datos crudos de FastAPI + flags evaluados en n8n\nlet client = {};\ntry {\n  client = {\n    ...$('Historial del Cliente').first().json,\n    ...$('Evaluar Historial Cliente').first().json,\n  };\n} catch (e) { client = { error: e.message }; }\n\nconst slaStatus = sla.within_sla != null\n  ? (sla.within_sla\n    ? `dentro de SLA (${sla.days_elapsed}d / ${sla.sla_limit_days}d)`\n    : `FUERA de SLA (${sla.days_elapsed}d / ${sla.sla_limit_days}d)`)\n  : 'SLA no calculado';\n\nconst agentAnalysis = [\n  `Caso ${input.transaction_id}: ${txn.merchant || 'N/A'}, USD ${txn.amount_usd || 0},`,\n  `canal ${txn.channel || 'N/A'}, país ${txn.country || 'N/A'}, score fraude ${txn.fraud_score ?? 'N/A'}.`,\n  `Motivo: ${input.motivo || 'no especificado'}.`,\n  `SLA: ${slaStatus}.`,\n  `Cliente VIP: ${input.cliente_vip ? 'sí' : 'no'}.`,\n  `Políticas encontradas: ${(policies.results || []).length}.`,\n  `Casos similares: ${(cases.results || []).length}.`,\n].join(' ');\n\nreturn [{\n  json: {\n    transaction_id:  input.transaction_id,\n    motivo:          input.motivo,\n    cliente_vip:     input.cliente_vip,\n    tx_data:         txn,\n    logs:            logsData.logs || [],\n    policies:        policies.results || [],\n    similar_cases:   cases.results || [],\n    merchant_risk:   merchant,\n    client_history:  client,\n    sla:             sla,\n    agent_analysis:  agentAnalysis,\n  }\n}];"
      },
      "id": "16cdddbc-6cab-4687-b1f4-d7de50d4d478",
      "name": "Compilar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60800,
        21968
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.API_BASE_URL }}/api/analyze/resolve",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction_id",
              "value": "={{ $json.transaction_id }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "tx_data",
              "value": "={{ $json.tx_data }}"
            },
            {
              "name": "policies",
              "value": "={{ $json.policies }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_history",
              "value": "={{ $json.client_history }}"
            },
            {
              "name": "motivo",
              "value": "={{ $json.motivo }}"
            },
            {
              "name": "cliente_vip",
              "value": "={{ $json.cliente_vip }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        },
        "contentType": "json"
      },
      "id": "847677ab-05df-4413-b56b-7d89944fb577",
      "name": "Sintetizar Resolución",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        61024,
        21968
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.API_BASE_URL }}/api/analyze/judge",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "resolution",
              "value": "={{ $('Sintetizar Resolución').first().json }}"
            },
            {
              "name": "full_context",
              "value": "={{ { transaction: $('Compilar Contexto').first().json.tx_data, motivo: $('Compilar Contexto').first().json.motivo || '', policies: ($('Compilar Contexto').first().json.policies || []).map(p => ({ code: p.code, name: p.name, category: p.category, description: p.description, reference: p.reference, score: p.score })), similar_cases: $('Compilar Contexto').first().json.similar_cases || [] } }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "2ed09fb3-fa43-4476-a19f-83e67f7f5459",
      "name": "Juez de Calidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        61264,
        21968
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-judge-eval",
              "name": "judge_evaluation",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "de623907-bafc-49c4-9ad0-833df2947b0c",
      "name": "Extraer Evaluación — Juez",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        61504,
        21968
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Construir el payload exacto que espera POST /api/reports/html (ReportRequest)\nconst ctx        = $('Compilar Contexto').first().json;\nconst resolution = $('Sintetizar Resolución').first().json;\nconst judge      = $input.first().json.judge_evaluation || {\n  overall_score: 5.0,\n  criteria: {},\n  approved: false,\n  strengths: [],\n  weaknesses: ['Judge evaluation unavailable'],\n};\n\nreturn [{\n  json: {\n    transaction:         ctx.tx_data,\n    resolution:          resolution,\n    judge_evaluation:    judge,\n    agent_analysis:      ctx.agent_analysis,\n    merchant_risk:       ctx.merchant_risk,\n    client_profile:      ctx.client_history,\n    logs:                ctx.logs,\n    policies_evaluated:  ctx.policies,\n    similar_cases:       ctx.similar_cases,\n    hitl_decision:       null,\n    cache_hit:           false,\n    guardrail_warnings:  resolution.guardrail_warnings || [],\n    motivo:              ctx.motivo || '',\n    cliente_vip:         ctx.cliente_vip || false,\n  }\n}];"
      },
      "id": "b00698b5-4e49-4ee4-a671-4f806c512560",
      "name": "Preparar Informe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        61744,
        21968
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-blocker",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "BLOCKER",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BLOCKER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-high",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "HIGH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HIGH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-medium",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "MEDIUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MEDIUM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-low",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "LOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LOW"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "25ad1ff8-94a1-469b-9d77-d743b68da319",
      "name": "Switch — Nivel de Riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        61984,
        21936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.API_BASE_URL }}/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            },
            {
              "name": "motivo",
              "value": "={{ $json.motivo }}"
            },
            {
              "name": "cliente_vip",
              "value": "={{ $json.cliente_vip }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        },
        "contentType": "json"
      },
      "id": "53922da0-fe97-4018-97e0-57e06ca89d42",
      "name": "Generar Reporte — BLOCKER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        62480,
        21728
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "6fbb2fc3-91ea-4f89-a68e-9c0a33160ae7",
      "name": "Responder — BLOCKER",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        62720,
        21728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resume-url",
              "name": "resume_url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            },
            {
              "id": "txn-id",
              "name": "transaction_id",
              "value": "={{ $('Compilar Contexto').first().json.transaction_id }}",
              "type": "string"
            },
            {
              "id": "risk",
              "name": "risk_level",
              "value": "HIGH",
              "type": "string"
            },
            {
              "id": "summary",
              "name": "agent_analysis",
              "value": "={{ $('Compilar Contexto').first().json.agent_analysis }}",
              "type": "string"
            },
            {
              "id": "resolution",
              "name": "resolution",
              "value": "={{ $('Sintetizar Resolución').first().json.recommended_action }}",
              "type": "string"
            },
            {
              "id": "judge-score",
              "name": "judge_score",
              "value": "={{ $('Extraer Evaluación — Juez').first().json.judge_evaluation.overall_score }}",
              "type": "number"
            },
            {
              "id": "instruction",
              "name": "_note",
              "value": "Conectar nodo Gmail o Slack aquí para enviar resume_url al analista",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f3f5f48c-369b-4431-94f5-ef90b5c02624",
      "name": "Notificar Analista — HIGH",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        62384,
        22208
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "HITL — Aprobación de Contracargo",
        "formDescription": "Revisa el caso y toma una decisión.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Decisión",
              "fieldType": "options",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "APPROVE"
                  },
                  {
                    "option": "REJECT"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Notas del Analista",
              "fieldType": "textarea",
              "requiredField": false,
              "placeholder": "Justificación de la decisión..."
            }
          ]
        },
        "options": {
          "buttonLabel": "Enviar Decisión"
        }
      },
      "id": "fb156049-a6f2-4456-ade1-3bccfd0789be",
      "name": "Wait — Aprobación HITL",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        62624,
        22208
      ],
      "webhookId": "ciri-hitl-resume"
    },
    {
      "parameters": {
        "jsCode": "// Compatible con resume via webhook y form submission nativo\nconst resume     = $input.first().json;\nconst ctx        = $('Compilar Contexto').first().json;\nconst resolution = $('Sintetizar Resoluci\\u00f3n').first().json;\nconst judge      = $('Extraer Evaluaci\\u00f3n \\u2014 Juez').first().json.judge_evaluation;\n\n// Form fields: 'Decisi\\u00f3n' / 'Notas del Analista'; webhook: 'decision' / 'notes'\nconst rawDecision = resume['Decisi\\u00f3n'] || resume.decision || 'APPROVE';\nconst rawNotes    = resume['Notas del Analista'] || resume.notes || '';\n\nconst hitlDecision = {\n  analyst_decision: rawDecision.toUpperCase(),\n  analyst_notes:    rawNotes,\n  final_outcome:    rawDecision.toUpperCase() === 'REJECT' ? 'DENIED' : 'APPROVED',\n  timestamp:        new Date().toISOString(),\n};\n\nreturn [{\n  json: {\n    transaction:         ctx.tx_data,\n    resolution:          resolution,\n    judge_evaluation:    judge,\n    agent_analysis:      ctx.agent_analysis,\n    merchant_risk:       ctx.merchant_risk,\n    client_profile:      ctx.client_history,\n    logs:                ctx.logs,\n    policies_evaluated:  ctx.policies,\n    similar_cases:       ctx.similar_cases,\n    hitl_decision:       hitlDecision,\n    cache_hit:           false,\n    guardrail_warnings:  resolution.guardrail_warnings || [],\n    motivo:              ctx.motivo || '',\n    cliente_vip:         ctx.cliente_vip || false,\n    _feedback_payload: {\n      transaction_id:    ctx.transaction_id,\n      analyst_decision:  hitlDecision.analyst_decision,\n      analyst_notes:     hitlDecision.analyst_notes,\n      final_outcome:     hitlDecision.final_outcome,\n      judge_score:       judge.overall_score ?? 0,\n    }\n  }\n}];"
      },
      "id": "33cadace-aab0-474e-a6cc-cbc6ddf4623d",
      "name": "Procesar Respuesta HITL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        62864,
        22208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.API_BASE_URL }}/api/feedback",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction_id",
              "value": "={{ $json._feedback_payload.transaction_id }}"
            },
            {
              "name": "analyst_decision",
              "value": "={{ $json._feedback_payload.analyst_decision }}"
            },
            {
              "name": "analyst_notes",
              "value": "={{ $json._feedback_payload.analyst_notes }}"
            },
            {
              "name": "final_outcome",
              "value": "={{ $json._feedback_payload.final_outcome }}"
            },
            {
              "name": "judge_score",
              "value": "={{ $json._feedback_payload.judge_score }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        },
        "contentType": "json"
      },
      "id": "0628e646-37b4-4d90-9b91-bad734928aad",
      "name": "Registrar Feedback HITL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        63104,
        22208
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.API_BASE_URL }}/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $('Procesar Respuesta HITL').first().json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $('Procesar Respuesta HITL').first().json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $('Procesar Respuesta HITL').first().json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $('Procesar Respuesta HITL').first().json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $('Procesar Respuesta HITL').first().json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $('Procesar Respuesta HITL').first().json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $('Procesar Respuesta HITL').first().json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $('Procesar Respuesta HITL').first().json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $('Procesar Respuesta HITL').first().json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $('Procesar Respuesta HITL').first().json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $('Procesar Respuesta HITL').first().json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $('Procesar Respuesta HITL').first().json.guardrail_warnings }}"
            },
            {
              "name": "motivo",
              "value": "={{ $json.motivo }}"
            },
            {
              "name": "cliente_vip",
              "value": "={{ $json.cliente_vip }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        },
        "contentType": "json"
      },
      "id": "8c091793-1794-435b-aaa7-e8c1782c96c9",
      "name": "Generar Reporte — HIGH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        63344,
        22208
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "61e7028b-0e1f-420f-aead-7222ad12aa0c",
      "name": "Responder — HIGH",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        63584,
        22208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.API_BASE_URL }}/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            },
            {
              "name": "motivo",
              "value": "={{ $json.motivo }}"
            },
            {
              "name": "cliente_vip",
              "value": "={{ $json.cliente_vip }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        },
        "contentType": "json"
      },
      "id": "5b50942f-152b-4e7c-8edc-8507914579a7",
      "name": "Generar Reporte — MEDIUM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        62384,
        22448
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "49357580-4851-4a1e-9d1f-f8ff4fbe5256",
      "name": "Responder — MEDIUM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        62624,
        22448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.API_BASE_URL }}/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            },
            {
              "name": "motivo",
              "value": "={{ $json.motivo }}"
            },
            {
              "name": "cliente_vip",
              "value": "={{ $json.cliente_vip }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        },
        "contentType": "json"
      },
      "id": "ac5cf00b-8ca7-407a-9038-1a96eb4c1c9a",
      "name": "Generar Reporte — LOW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        62384,
        22688
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "f6c8ebde-c5af-4f65-b593-de0f30ecfe57",
      "name": "Responder — LOW",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        62624,
        22688
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.API_BASE_URL }}/health",
        "options": {
          "timeout": 90000
        }
      },
      "id": "ac91b551-b8df-4cb0-8dd6-a3d544f592aa",
      "name": "Despertar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        59552,
        22000
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Servicio temporalmente no disponible. La API no respondió después de 3 reintentos.', transaction_id: $('Validar Formato TXN').first().json.transaction_id, suggestion: 'Reintente en 60 segundos (cold start de Render).' } }}",
        "options": {
          "responseCode": 503
        }
      },
      "id": "69e6628f-7f09-4b69-843d-1a1367208e2f",
      "name": "Error — API No Disponible",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        59776,
        22320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Error en el análisis con IA. El servicio LLM no pudo procesar la solicitud.', transaction_id: $('Validar Formato TXN').first().json.transaction_id, suggestion: 'Verifique los créditos de la API de Anthropic y reintente.' } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "5fbe84d5-1596-48ac-afa1-63d2eb764e21",
      "name": "Error — Análisis Fallido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        61024,
        22208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Error al generar el reporte HTML.', transaction_id: $('Validar Formato TXN').first().json.transaction_id, suggestion: 'Reintente la solicitud.' } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "679eb01e-459d-4838-bae8-7971238720fd",
      "name": "Error — Reporte Fallido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        63232,
        22656
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ Manejo de Errores\n\n**Cada nodo HTTP tiene:**\n- ✅ Retry automático (3 intentos, 5s entre cada uno)\n- ✅ Error output conectado a un Responder de error\n\n**Nodos de error visibles:**\n- **Error — TXN Inválida** (400): formato TXN incorrecto\n- **Error — API No Disponible** (503): API caída o cold start\n- **Error — Análisis Fallido** (500): fallo LLM (Anthropic)\n- **Error — Reporte Fallido** (500): fallo al generar HTML\n\n**Principio:** fail fast, fail loud. El webhook siempre responde, nunca queda colgado.",
        "height": 340,
        "width": 500
      },
      "id": "4f582a07-1d94-4b34-9e14-0a998e0c956b",
      "name": "Sticky Note — Manejo de Errores",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        59168,
        22432
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.API_BASE_URL + '/api/cache/lookup?transaction_id=' + encodeURIComponent($('Validar Formato TXN').first().json.transaction_id) + '&cliente_vip=' + ($('Validar Formato TXN').first().json.cliente_vip || false) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "821e4775-b3db-405d-b1f6-877b758d03f7",
      "name": "Verificar Caché",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        59552,
        21808
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-cache-hit",
              "leftValue": "={{ $json.cached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "76783239-f3ea-4ee6-a085-7d23353e63c8",
      "name": "¿Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        59776,
        21920
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "X-Cache",
                "value": "HIT"
              }
            ]
          }
        }
      },
      "id": "6f598020-515a-4d19-b148-193dcdb3241e",
      "name": "Responder — Caché",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        60016,
        21808
      ]
    },
    {
      "parameters": {
        "content": "## 🔄 Idempotencia\n\n**Verificar Caché** consulta SQLite antes de ejecutar el pipeline.\nSi el mismo `(transaction_id, cliente_vip)` fue analizado antes:\n- **HIT** → responde HTML cacheado en ~200ms (header `X-Cache: HIT`)\n- **MISS** → ejecuta pipeline completo. El reporte se cachea automáticamente al generarse.\n\nEvita re-ejecutar 2 llamadas LLM (~25s) para requests duplicados.",
        "height": 240,
        "width": 400,
        "color": 5
      },
      "id": "6e508264-977a-4162-bd75-a142b3a95554",
      "name": "Sticky Note — Idempotencia",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        59296,
        21536
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verificar Guardrails post-LLM — visibilidad en el canvas\nconst resolution = $input.first().json;\nconst warnings = resolution.guardrail_warnings || [];\nconst verdicts = resolution.policy_verdicts || [];\n\nconst hasBLOCKER = verdicts.some(v => v.verdict === 'BLOCKER');\nconst isAPPROVE = resolution.recommended_action === 'APPROVE';\nconst compExcesiva = (resolution.compensation_amount_usd || 0) > (resolution.transaction_amount_usd || 99999) * 1.1;\nconst failCount = verdicts.filter(v => ['FAIL','BLOCKER'].includes(v.verdict)).length;\nconst overConfident = (resolution.confidence || 0) > 0.95 && failCount >= 2;\n\nconst guardrailStatus = {\n  approve_with_blocker: isAPPROVE && hasBLOCKER,\n  compensation_excesiva: compExcesiva,\n  overconfident: overConfident,\n  total_warnings: warnings.length,\n  warnings: warnings,\n  status: warnings.length > 0 ? 'GUARDRAILS ACTIVADOS' : 'Sin alertas'\n};\n\nreturn [{ json: { ...resolution, _guardrail_check: guardrailStatus } }];"
      },
      "id": "02f762f4-c8be-47bf-b4ba-7506a0dc5063",
      "name": "Verificar Guardrails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        61136,
        21968
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-judge-score",
              "leftValue": "={{ $json.judge_evaluation.overall_score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "24ca91c4-67a3-4282-a586-3da6ae95bdf3",
      "name": "¿Juez Aprueba? (≥7.0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        61624,
        21968
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "low-score-flag",
              "name": "judge_evaluation.quality_flag",
              "value": "LOW_QUALITY — Revisar resolución manualmente",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f325dc61-bba3-4e83-87d2-75021e01eeab",
      "name": "Marcar — Calidad Baja",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        61624,
        22160
      ]
    },
    {
      "parameters": {
        "content": "## 🛡️ GUARDRAILS POST-LLM\n\nVerificación nativa en n8n (Code):\n1. APPROVE con BLOCKER → auto-REJECT\n2. Compensación > 110% del monto\n3. Confianza > 0.95 con ≥2 fallas\n\nDefensa en profundidad: FastAPI + n8n.",
        "height": 220,
        "width": 340,
        "color": 7
      },
      "id": "52192b00-10ca-43ed-9fab-d39727d64daa",
      "name": "Sticky Note — Guardrails",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        61040,
        21700
      ]
    },
    {
      "parameters": {
        "content": "## ⚖️ EVALUACIÓN DEL JUEZ\n\nIF nativo: score ≥ 7.0 = aprobado.\nScore < 7.0 → flag 'LOW_QUALITY'\nvisible en el reporte.",
        "height": 160,
        "width": 300,
        "color": 6
      },
      "id": "6d4fcc6d-07e7-49ef-857f-57cc016c4f85",
      "name": "Sticky Note — Juez Score",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        61520,
        21700
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Entrada": {
      "main": [
        [
          {
            "node": "Validar Formato — IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Formato — IF": {
      "main": [
        [
          {
            "node": "Validar Formato TXN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — TXN Inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Formato TXN": {
      "main": [
        [
          {
            "node": "Despertar API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Transacción": {
      "main": [
        [
          {
            "node": "Obtener Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Políticas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Casos Similares",
            "type": "main",
            "index": 0
          },
          {
            "node": "Riesgo del Comercio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Historial del Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar SLA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — API No Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Logs": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Políticas": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Riesgo del Comercio": {
      "main": [
        [
          {
            "node": "Evaluar Riesgo Comercio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historial del Cliente": {
      "main": [
        [
          {
            "node": "Evaluar Historial Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Contexto Paralelo": {
      "main": [
        [
          {
            "node": "Compilar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compilar Contexto": {
      "main": [
        [
          {
            "node": "Sintetizar Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sintetizar Resolución": {
      "main": [
        [
          {
            "node": "Verificar Guardrails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — Análisis Fallido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juez de Calidad": {
      "main": [
        [
          {
            "node": "Extraer Evaluación — Juez",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — Análisis Fallido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Evaluación — Juez": {
      "main": [
        [
          {
            "node": "¿Juez Aprueba? (≥7.0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Informe": {
      "main": [
        [
          {
            "node": "Switch — Nivel de Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Nivel de Riesgo": {
      "main": [
        [
          {
            "node": "Generar Reporte — BLOCKER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Analista — HIGH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Reporte — MEDIUM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Reporte — LOW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — Reporte Fallido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — BLOCKER": {
      "main": [
        [
          {
            "node": "Responder — BLOCKER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — Reporte Fallido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Analista — HIGH": {
      "main": [
        [
          {
            "node": "Wait — Aprobación HITL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Aprobación HITL": {
      "main": [
        [
          {
            "node": "Procesar Respuesta HITL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta HITL": {
      "main": [
        [
          {
            "node": "Registrar Feedback HITL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Feedback HITL": {
      "main": [
        [
          {
            "node": "Generar Reporte — HIGH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — HIGH": {
      "main": [
        [
          {
            "node": "Responder — HIGH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — Reporte Fallido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — MEDIUM": {
      "main": [
        [
          {
            "node": "Responder — MEDIUM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — Reporte Fallido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — LOW": {
      "main": [
        [
          {
            "node": "Responder — LOW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — Reporte Fallido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Casos Similares": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Evaluar Riesgo Comercio": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Evaluar Historial Cliente": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Verificar SLA": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Despertar API": {
      "main": [
        [
          {
            "node": "Verificar Caché",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Caché",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Caché": {
      "main": [
        [
          {
            "node": "¿Cache Hit?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Transacción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cache Hit?": {
      "main": [
        [
          {
            "node": "Responder — Caché",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Transacción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Guardrails": {
      "main": [
        [
          {
            "node": "Juez de Calidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Juez Aprueba? (≥7.0)": {
      "main": [
        [
          {
            "node": "Preparar Informe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar — Calidad Baja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar — Calidad Baja": {
      "main": [
        [
          {
            "node": "Preparar Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5d0debf2-5c84-449b-ae15-e9b4ec8b2382",
  "meta": {
    "instanceId": "36ed1d7aaae0ce47f22100fe1416286231c2bf358a8645fb0e55f588462fc9fb"
  },
  "nodeGroups": [],
  "id": "vbZqodrrvO3mHM7K",
  "tags": [
    {
      "updatedAt": "2026-07-22T05:17:01.070Z",
      "createdAt": "2026-07-22T05:17:01.070Z",
      "id": "hPqDvQS3dMdHEFrX",
      "name": "CIRI"
    }
  ]
}