n8n/workflow_ciri_agent.json
{
  "name": "CIRI Chargeback Agent — Orquestación Explícita",
  "nodes": [
    {
      "parameters": {
        "content": "## CIRI Chargeback Agent · Orquestación Explícita\nCada paso es un nodo visible. Sin AI Agent black box. n8n decide el flujo; FastAPI ejecuta la lógica de negocio.",
        "height": 80,
        "width": 4752,
        "color": 4
      },
      "id": "e1595a71-c3c0-4859-bed6-732da2557bba",
      "name": "Sticky Note — Resumen",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        44720,
        15088
      ]
    },
    {
      "parameters": {
        "content": "## 🟢 §1 — ENTRADA Y VALIDACIÓN\n\n**IF node** valida formato TXN-XXXXX.\n- ✅ True → **Set node** extrae campos limpios\n- ❌ False → responde 400 sin continuar\n\nError explícito desde el primer nodo.",
        "height": 1348,
        "width": 920,
        "color": 5
      },
      "id": "925f2e61-a2f4-4164-bb18-991cf0fa8adb",
      "name": "Sticky Note — Sección 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        44480,
        15200
      ]
    },
    {
      "parameters": {
        "content": "## 🔵 §2 — CONTEXTO PARALELO\n\nDespués de obtener la transacción, **6 ramas corren en paralelo**. El nodo **Merge** espera a que todas terminen.\n\n**Nodos nativos de n8n (sin FastAPI):**\n- ✅ **Evaluar Riesgo Comercio** (Set): computa `flags` e `is_strategic` de los datos crudos del comercio.\n- ✅ **Evaluar Historial Cliente** (Set): computa `flags` de riesgo del cliente.\n- ✅ **Verificar SLA** (Set): calcula días transcurridos y límite SLA según país y VIP — sin HTTP call.\n\nReducción de latencia: de ~6× a ~1× el tiempo de un call.",
        "height": 1356,
        "width": 776,
        "color": 3
      },
      "id": "0e4eb1af-595d-4b25-8269-103ce6c58d6c",
      "name": "Sticky Note — Sección 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        45408,
        15200
      ]
    },
    {
      "parameters": {
        "content": "## 🟣 §3 — ANÁLISIS CON IA\n\n**Compilar Contexto**: fusiona los 6 resultados del Merge en un objeto unificado.\n\n**Sintetizar Resolución** → FastAPI (LLM con guardrails + caché semántico) evalúa políticas + casos + logs → devuelve `recommended_action`, `risk_level`, `confidence`, `guardrail_warnings`.\n\n**Juez de Calidad** → **Claude directo vía Anthropic API** (HTTP Request nativo). Sin pasar por FastAPI: n8n envía el contexto completo + resolución propuesta, Claude devuelve JSON de evaluación.\n\n**Extraer Evaluación** (Set): parsea la respuesta de Anthropic y expone `judge_evaluation` como objeto n8n.",
        "height": 1352,
        "width": 1432,
        "color": 6
      },
      "id": "a3f3b2b1-3fa6-4bad-ad84-a89709f74256",
      "name": "Sticky Note — Sección 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        46192,
        15200
      ]
    },
    {
      "parameters": {
        "content": "## 🔀 §4 — ENRUTAMIENTO POR RIESGO\n\n**Switch** por `resolution.risk_level`:\n- **BLOCKER** → rechazo automático inmediato\n- **HIGH** → flujo HITL (ver abajo)\n- **MEDIUM** → alerta de revisión\n- **LOW** → aprobación automática\n\nTodos los reportes: `POST /api/reports/html`",
        "height": 1360,
        "width": 1840,
        "color": 2
      },
      "id": "b00d298c-388a-48cd-866c-f981d3de94ad",
      "name": "Sticky Note — Sección 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        47648,
        15200
      ]
    },
    {
      "parameters": {
        "content": "## 🔶 RAMA HIGH — HITL (Human-in-the-Loop)\n\n1. **Notificar Analista** prepara el payload con `$execution.resumeUrl`\n   *(en prod: conectar nodo Gmail o Slack antes del Wait)*\n2. **Wait** pausa la ejecución hasta recibir aprobación\n3. Analista POST `{ decision, notes }` al `resumeUrl`\n4. **Procesar HITL** incorpora la decisión al contexto\n5. **Registrar Feedback** → POST /api/feedback (auto-indexa si score ≥ 8.0)\n6. Genera y responde el reporte final",
        "height": 220,
        "width": 516,
        "color": 7
      },
      "id": "8e5fb528-fff8-4b16-82a3-dc51114717cb",
      "name": "Sticky Note — HITL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48112,
        15664
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chargeback-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "de19a385-8fa2-4199-b82f-91d4509e0c61",
      "name": "Webhook — Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        44656,
        15728
      ],
      "webhookId": "ciri-chargeback-agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-txn-format",
              "leftValue": "={{ ($input.first().json.body?.transaction_id || $input.first().json.transaction_id || '').trim() }}",
              "rightValue": "TXN-[0-9]{5}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8d612ab2-e5d8-430c-99a4-05f8dcdc3fb6",
      "name": "Validar Formato — IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        44864,
        15728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-txn-id",
              "name": "transaction_id",
              "value": "={{ ($input.first().json.body?.transaction_id || $input.first().json.transaction_id || '').trim() }}",
              "type": "string"
            },
            {
              "id": "field-motivo",
              "name": "motivo",
              "value": "={{ ($input.first().json.body?.motivo || $input.first().json.motivo || '').trim() }}",
              "type": "string"
            },
            {
              "id": "field-vip",
              "name": "cliente_vip",
              "value": "={{ Boolean($input.first().json.body?.cliente_vip || $input.first().json.cliente_vip) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "b00f1eb0-463e-42de-adfc-e13a0ed07254",
      "name": "Validar Formato TXN",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        45056,
        15712
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Formato de transaction_id inválido. Se esperaba TXN-XXXXX (ej: TXN-00051).', received: ($input.first().json.body?.transaction_id || $input.first().json.transaction_id || '(vacío)') } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "3b19dfd3-b5fb-4432-a000-5cb58e2b4431",
      "name": "Error — TXN Inválida",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        45056,
        15920
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://ciri-chargeback-agent.onrender.com/api/transactions/' + $('Validar Formato TXN').item.json.transaction_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e3862e7d-eb19-40df-ad73-05d848500614",
      "name": "Obtener Transacción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        45456,
        15696
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://ciri-chargeback-agent.onrender.com/api/logs/' + $('Validar Formato TXN').item.json.transaction_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a6613a31-126c-4aa8-b1c8-67e5e5c0565f",
      "name": "Obtener Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        45696,
        15536
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://ciri-chargeback-agent.onrender.com/api/policies/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "motivo",
              "value": "={{ $('Validar Formato TXN').item.json.motivo }}"
            },
            {
              "name": "channel",
              "value": "={{ $('Obtener Transacción').item.json.channel }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Obtener Transacción').item.json.payment_method }}"
            },
            {
              "name": "fraud_score",
              "value": "={{ $('Obtener Transacción').item.json.fraud_score }}"
            },
            {
              "name": "country",
              "value": "={{ $('Obtener Transacción').item.json.country }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "42c9f469-6006-4370-bdb3-c9153d39929a",
      "name": "Buscar Políticas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        45696,
        15696
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://ciri-chargeback-agent.onrender.com/api/cases/similar",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "merchant",
              "value": "={{ $('Obtener Transacción').item.json.merchant }}"
            },
            {
              "name": "amount",
              "value": "={{ $('Obtener Transacción').item.json.amount_usd }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Obtener Transacción').item.json.payment_method }}"
            },
            {
              "name": "country",
              "value": "={{ $('Obtener Transacción').item.json.country }}"
            },
            {
              "name": "fraud_score",
              "value": "={{ $('Obtener Transacción').item.json.fraud_score }}"
            },
            {
              "name": "motivo",
              "value": "={{ $('Validar Formato TXN').item.json.motivo }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "97aaf4ef-8256-456a-96be-6f7c25feeff2",
      "name": "Buscar Casos Similares",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        45696,
        15856
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://ciri-chargeback-agent.onrender.com/api/merchants/' + encodeURIComponent($('Obtener Transacción').item.json.merchant) + '/risk' }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c025d3f6-5e4c-4316-923a-b56db512fd07",
      "name": "Riesgo del Comercio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        45696,
        16016
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-merchant-flags",
              "name": "flags",
              "value": "={{ [$json.cb_ratio > 0.02 ? 'suspended_merchant' : $json.cb_ratio > 0.01 ? 'high_cb_ratio' : null].filter(x => x !== null) }}",
              "type": "array"
            },
            {
              "id": "field-merchant-strategic",
              "name": "is_strategic",
              "value": "={{ $json.total_volume_usd > 1000000 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "7f74137b-6295-4691-a5d0-c03c4b17e51f",
      "name": "Evaluar Riesgo Comercio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        45936,
        16016
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://ciri-chargeback-agent.onrender.com/api/clients/' + $('Obtener Transacción').item.json.client_id + '/history' }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "80fa94c8-b712-4600-9adb-7bc0976002f9",
      "name": "Historial del Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        45696,
        16176
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-client-flags",
              "name": "flags",
              "value": "={{ [$json.total_chargebacks > 3 ? 'recidivist' : null, ($json.countries_used || []).length > 3 ? 'geo_anomaly' : null].filter(x => x !== null) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "b18c074d-d4c6-4067-a4f9-31769a468b0a",
      "name": "Evaluar Historial Cliente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        45936,
        16176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-days-elapsed",
              "name": "days_elapsed",
              "value": "={{ Math.floor((Date.now() - new Date($('Obtener Transacción').item.json.date).getTime()) / 86400000) }}",
              "type": "number"
            },
            {
              "id": "field-sla-limit",
              "name": "sla_limit_days",
              "value": "={{ $('Validar Formato TXN').item.json.cliente_vip ? 5 : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').item.json.country) ? 15 : 10 }}",
              "type": "number"
            },
            {
              "id": "field-sla-type",
              "name": "sla_type",
              "value": "={{ $('Validar Formato TXN').item.json.cliente_vip ? 'vip' : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').item.json.country) ? 'extended' : 'standard' }}",
              "type": "string"
            },
            {
              "id": "field-policy-ref",
              "name": "policy_reference",
              "value": "={{ $('Validar Formato TXN').item.json.cliente_vip ? 'POL-EXC-002 (5 días)' : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').item.json.country) ? 'POL-EXC-004 (15 días)' : 'POL-SLA-002 (10 días)' }}",
              "type": "string"
            },
            {
              "id": "field-within-sla",
              "name": "within_sla",
              "value": "={{ Math.floor((Date.now() - new Date($('Obtener Transacción').item.json.date).getTime()) / 86400000) <= ($('Validar Formato TXN').item.json.cliente_vip ? 5 : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').item.json.country) ? 15 : 10) }}",
              "type": "boolean"
            },
            {
              "id": "field-compensation",
              "name": "compensation_applicable",
              "value": "={{ Math.floor((Date.now() - new Date($('Obtener Transacción').item.json.date).getTime()) / 86400000) > ($('Validar Formato TXN').item.json.cliente_vip ? 5 : !['Argentina','Brasil','Chile','Colombia','México','Perú','Uruguay','Venezuela','Ecuador','Bolivia','Paraguay'].includes($('Obtener Transacción').item.json.country) ? 15 : 10) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "a54c6f70-c815-4434-bb25-849f89093f10",
      "name": "Verificar SLA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        45696,
        16336
      ]
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "id": "7ce16f48-1a54-45e6-8a13-d314aa3b140c",
      "name": "Merge — Contexto Paralelo",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        46272,
        15680
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fusionar todos los datos recopilados en un objeto unificado\nconst input    = $('Validar Formato TXN').item.json;\nconst txn      = $('Obtener Transacción').item.json;\nconst logsData = $('Obtener Logs').item.json;\nconst policies = $('Buscar Políticas').item.json;\nconst cases    = $('Buscar Casos Similares').item.json;\nconst sla      = $('Verificar SLA').item.json;\n\n// Merchant: datos crudos de FastAPI + flags evaluados en n8n\nconst merchant = {\n  ...$('Riesgo del Comercio').item.json,\n  ...$('Evaluar Riesgo Comercio').item.json,\n};\n\n// Cliente: datos crudos de FastAPI + flags evaluados en n8n\nconst client = {\n  ...$('Historial del Cliente').item.json,\n  ...$('Evaluar Historial Cliente').item.json,\n};\n\nconst slaStatus = sla.within_sla\n  ? `dentro de SLA (${sla.days_elapsed}d / ${sla.sla_limit_days}d)`\n  : `FUERA de SLA (${sla.days_elapsed}d / ${sla.sla_limit_days}d)`;\n\nconst agentAnalysis = [\n  `Caso ${input.transaction_id}: ${txn.merchant}, USD ${txn.amount_usd},`,\n  `canal ${txn.channel}, país ${txn.country}, score fraude ${txn.fraud_score}.`,\n  `Motivo: ${input.motivo || 'no especificado'}.`,\n  `SLA: ${slaStatus}.`,\n  `Cliente VIP: ${input.cliente_vip ? 'sí' : 'no'}.`,\n  `Políticas encontradas: ${(policies.results || []).length}.`,\n  `Casos similares: ${(cases.results || []).length}.`,\n].join(' ');\n\nreturn [{\n  json: {\n    transaction_id:  input.transaction_id,\n    motivo:          input.motivo,\n    cliente_vip:     input.cliente_vip,\n    tx_data:         txn,\n    logs:            logsData.logs || [],\n    policies:        policies.results || [],\n    similar_cases:   cases.results || [],\n    merchant_risk:   merchant,\n    client_history:  client,\n    sla:             sla,\n    agent_analysis:  agentAnalysis,\n  }\n}];"
      },
      "id": "6043be1d-cada-4855-b131-dda19a75c1f8",
      "name": "Compilar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        46480,
        15680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/analyze/resolve",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction_id",
              "value": "={{ $json.transaction_id }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "tx_data",
              "value": "={{ $json.tx_data }}"
            },
            {
              "name": "policies",
              "value": "={{ $json.policies }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_history",
              "value": "={{ $json.client_history }}"
            },
            {
              "name": "motivo",
              "value": "={{ $json.motivo }}"
            },
            {
              "name": "cliente_vip",
              "value": "={{ $json.cliente_vip }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "631ad35b-efc4-45d1-aed7-f3493c7d00c6",
      "name": "Sintetizar Resolución",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        46704,
        15680
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CB_ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-haiku-4-5-20251001"
            },
            {
              "name": "max_tokens",
              "value": 1024
            },
            {
              "name": "system",
              "value": "Eres un supervisor de calidad de resoluciones de contracargos en una fintech latinoamericana.\nTu tarea: evaluar la calidad de una resolucion propuesta en 5 criterios.\n\nCRITERIOS (cada uno se evalua de 1.0 a 10.0):\n1. policy_consistency: La resolucion respeta todos los BLOCKERs y FAILs detectados?\n   - Un APPROVE con cualquier BLOCKER activo = score 1.0 (error critico)\n   - Resolucion coherente con todos los veredictos = score 9-10\n2. justification_quality: La justificacion cita evidencia especifica?\n   - Cita IDs, montos, scores, codigos de politica = score alto\n   - Justificacion vaga o generica = score bajo\n3. precedent_usage: La resolucion aprovecho los casos historicos similares?\n   - Menciona casos especificos y extrae aprendizajes = score alto\n   - Ignora los precedentes = score bajo\n4. risk_assessment: El risk_level asignado es correcto dado los veredictos y el fraud_score?\n   - BLOCKER correcto con BLOCKER verdict = score alto\n   - Risk level inconsistente con evidencia = score bajo\n5. actionability: Los next_steps son concretos, realizables y relevantes para este caso?\n   - Pasos especificos y en orden logico = score alto\n   - Pasos vagos o inaplicables = score bajo\n\noverall_score = promedio aritmetico de los 5 criterios.\napproved = true si overall_score >= 7.0\n\nREGLAS:\n1. Se critico pero justo. Una resolucion que cite datos especificos merece mayor puntaje.\n2. Un APPROVE con BLOCKER activo es el error mas grave posible — policy_consistency = 1.0 automaticamente.\n3. strengths: lista de 1-3 aspectos positivos concretos de la resolucion.\n4. weaknesses: lista de 1-3 areas de mejora concretas.\n5. Responde UNICAMENTE con JSON valido. En espanol. Sin texto adicional.\n\nFormato de respuesta:\n{\n  \"overall_score\": 7.5,\n  \"criteria\": {\n    \"policy_consistency\": 8.0,\n    \"justification_quality\": 7.0,\n    \"precedent_usage\": 7.5,\n    \"risk_assessment\": 8.0,\n    \"actionability\": 7.0\n  },\n  \"approved\": true,\n  \"strengths\": [\"Fortaleza 1 concreta\", \"Fortaleza 2 concreta\"],\n  \"weaknesses\": [\"Debilidad 1 concreta\", \"Debilidad 2 concreta\"]\n}"
            },
            {
              "name": "messages",
              "value": "={{ [{ role: 'user', content: '## EVIDENCIA COMPLETA (contexto del caso)\\n' + JSON.stringify({ transaction: $('Compilar Contexto').item.json.tx_data, motivo: $('Compilar Contexto').item.json.motivo, policies: $('Compilar Contexto').item.json.policies, similar_cases: $('Compilar Contexto').item.json.similar_cases }, null, 2) + '\\n\\n## RESOLUCION PROPUESTA\\n' + JSON.stringify($('Sintetizar Resolución').item.json, null, 2) + '\\n\\nEvalúa la resolución y devuelve el JSON de evaluación.' }] }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "ca21b01e-a656-4cfb-bf71-399b00c1227a",
      "name": "Juez de Calidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        46944,
        15680
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-judge-eval",
              "name": "judge_evaluation",
              "value": "={{ JSON.parse($json.content[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "bc343687-e8a5-4555-8604-95c31215a3b5",
      "name": "Extraer Evaluación — Juez",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        47184,
        15680
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construir el payload exacto que espera POST /api/reports/html (ReportRequest)\nconst ctx        = $('Compilar Contexto').item.json;\nconst resolution = $('Sintetizar Resolución').item.json;\nconst judge      = $input.first().json.judge_evaluation;\n\nreturn [{\n  json: {\n    transaction:         ctx.tx_data,\n    resolution:          resolution,\n    judge_evaluation:    judge,\n    agent_analysis:      ctx.agent_analysis,\n    merchant_risk:       ctx.merchant_risk,\n    client_profile:      ctx.client_history,\n    logs:                ctx.logs,\n    policies_evaluated:  ctx.policies,\n    similar_cases:       ctx.similar_cases,\n    hitl_decision:       null,\n    cache_hit:           false,\n    guardrail_warnings:  resolution.guardrail_warnings || [],\n  }\n}];"
      },
      "id": "b2c2e9ca-e9c4-4cf3-a93f-9d42f78ada3b",
      "name": "Preparar Informe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        47424,
        15680
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-blocker",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "BLOCKER",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BLOCKER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-high",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "HIGH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HIGH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-medium",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "MEDIUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MEDIUM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-low",
                    "leftValue": "={{ $json.resolution.risk_level }}",
                    "rightValue": "LOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LOW"
            }
          ]
        },
        "options": {}
      },
      "id": "a5e2af70-dd7c-4c28-9d6d-d789c1c0e37b",
      "name": "Switch — Nivel de Riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        47664,
        15648
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "016e9577-8af6-4bba-83be-d314c05c8c4d",
      "name": "Generar Reporte — BLOCKER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48160,
        15440
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "0709e222-3fb6-44cb-a793-ea4f48eaed47",
      "name": "Responder — BLOCKER",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        48400,
        15440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resume-url",
              "name": "resume_url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            },
            {
              "id": "txn-id",
              "name": "transaction_id",
              "value": "={{ $('Compilar Contexto').item.json.transaction_id }}",
              "type": "string"
            },
            {
              "id": "risk",
              "name": "risk_level",
              "value": "HIGH",
              "type": "string"
            },
            {
              "id": "summary",
              "name": "agent_analysis",
              "value": "={{ $('Compilar Contexto').item.json.agent_analysis }}",
              "type": "string"
            },
            {
              "id": "resolution",
              "name": "resolution",
              "value": "={{ $('Sintetizar Resolución').item.json.recommended_action }}",
              "type": "string"
            },
            {
              "id": "judge-score",
              "name": "judge_score",
              "value": "={{ $('Extraer Evaluación — Juez').item.json.judge_evaluation.overall_score }}",
              "type": "number"
            },
            {
              "id": "instruction",
              "name": "_note",
              "value": "Conectar nodo Gmail o Slack aquí para enviar resume_url al analista",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c0613f26-457e-461d-880a-46c217587e9b",
      "name": "Notificar Analista — HIGH",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48064,
        15920
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "e3c81e05-5aa7-4220-8ba7-5a38b903ee7b",
      "name": "Wait — Aprobación HITL",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        48304,
        15920
      ],
      "webhookId": "ciri-hitl-resume"
    },
    {
      "parameters": {
        "jsCode": "// El analista POSTea { decision: 'APPROVE'|'REJECT', notes: '...' } al resume_url\nconst resume     = $input.first().json;\nconst ctx        = $('Compilar Contexto').item.json;\nconst resolution = $('Sintetizar Resolución').item.json;\nconst judge      = $('Extraer Evaluación — Juez').item.json.judge_evaluation;\n\nconst hitlDecision = {\n  analyst_decision: (resume.decision || 'APPROVE').toUpperCase(),\n  analyst_notes:    resume.notes || '',\n  final_outcome:    (resume.decision || 'APPROVE').toUpperCase() === 'REJECT' ? 'DENIED' : 'APPROVED',\n  timestamp:        new Date().toISOString(),\n};\n\nreturn [{\n  json: {\n    transaction:         ctx.tx_data,\n    resolution:          resolution,\n    judge_evaluation:    judge,\n    agent_analysis:      ctx.agent_analysis,\n    merchant_risk:       ctx.merchant_risk,\n    client_profile:      ctx.client_history,\n    logs:                ctx.logs,\n    policies_evaluated:  ctx.policies,\n    similar_cases:       ctx.similar_cases,\n    hitl_decision:       hitlDecision,\n    cache_hit:           false,\n    guardrail_warnings:  resolution.guardrail_warnings || [],\n    _feedback_payload: {\n      transaction_id:    ctx.transaction_id,\n      analyst_decision:  hitlDecision.analyst_decision,\n      analyst_notes:     hitlDecision.analyst_notes,\n      final_outcome:     hitlDecision.final_outcome,\n      judge_score:       judge.overall_score ?? 0,\n    }\n  }\n}];"
      },
      "id": "a341c635-7890-40f4-8803-ca441bcc91f5",
      "name": "Procesar Respuesta HITL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48544,
        15920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/feedback",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction_id",
              "value": "={{ $json._feedback_payload.transaction_id }}"
            },
            {
              "name": "analyst_decision",
              "value": "={{ $json._feedback_payload.analyst_decision }}"
            },
            {
              "name": "analyst_notes",
              "value": "={{ $json._feedback_payload.analyst_notes }}"
            },
            {
              "name": "final_outcome",
              "value": "={{ $json._feedback_payload.final_outcome }}"
            },
            {
              "name": "judge_score",
              "value": "={{ $json._feedback_payload.judge_score }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "30786dd8-9005-4808-9054-4c17ae21dabf",
      "name": "Registrar Feedback HITL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48784,
        15920
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $('Procesar Respuesta HITL').item.json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $('Procesar Respuesta HITL').item.json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $('Procesar Respuesta HITL').item.json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $('Procesar Respuesta HITL').item.json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $('Procesar Respuesta HITL').item.json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $('Procesar Respuesta HITL').item.json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $('Procesar Respuesta HITL').item.json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $('Procesar Respuesta HITL').item.json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $('Procesar Respuesta HITL').item.json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $('Procesar Respuesta HITL').item.json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $('Procesar Respuesta HITL').item.json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $('Procesar Respuesta HITL').item.json.guardrail_warnings }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "69c213a0-79e2-470c-a33d-791222462c60",
      "name": "Generar Reporte — HIGH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        49024,
        15920
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "26c42537-c01f-4e83-93ee-7fc8023a4a68",
      "name": "Responder — HIGH",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        49264,
        15920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "8c25b47d-2af7-4b37-9434-d17a625eedae",
      "name": "Generar Reporte — MEDIUM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48064,
        16160
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "5017fe43-dfcc-43b7-90fc-18d3b95632f5",
      "name": "Responder — MEDIUM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        48304,
        16160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ciri-chargeback-agent.onrender.com/api/reports/html",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.transaction }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "judge_evaluation",
              "value": "={{ $json.judge_evaluation }}"
            },
            {
              "name": "agent_analysis",
              "value": "={{ $json.agent_analysis }}"
            },
            {
              "name": "merchant_risk",
              "value": "={{ $json.merchant_risk }}"
            },
            {
              "name": "client_profile",
              "value": "={{ $json.client_profile }}"
            },
            {
              "name": "logs",
              "value": "={{ $json.logs }}"
            },
            {
              "name": "policies_evaluated",
              "value": "={{ $json.policies_evaluated }}"
            },
            {
              "name": "similar_cases",
              "value": "={{ $json.similar_cases }}"
            },
            {
              "name": "hitl_decision",
              "value": "={{ $json.hitl_decision }}"
            },
            {
              "name": "cache_hit",
              "value": "={{ $json.cache_hit }}"
            },
            {
              "name": "guardrail_warnings",
              "value": "={{ $json.guardrail_warnings }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "688b35b7-a4a6-43b0-9f17-6ccdd6719cbf",
      "name": "Generar Reporte — LOW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48064,
        16400
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "aa284a5b-a022-4ab8-9b42-81195f9b656f",
      "name": "Responder — LOW",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        48304,
        16400
      ]
    },
    {
      "parameters": {
        "url": "https://ciri-chargeback-agent.onrender.com/health",
        "options": {
          "timeout": 90000
        }
      },
      "id": "fea7c0e7-93fb-49a2-bd7c-38bac309f07c",
      "name": "Despertar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        45232,
        15712
      ],
      "onError": "continueErrorOutput",
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Entrada": {
      "main": [
        [
          {
            "node": "Validar Formato — IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Formato — IF": {
      "main": [
        [
          {
            "node": "Validar Formato TXN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error — TXN Inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Formato TXN": {
      "main": [
        [
          {
            "node": "Despertar API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Transacción": {
      "main": [
        [
          {
            "node": "Obtener Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Políticas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Casos Similares",
            "type": "main",
            "index": 0
          },
          {
            "node": "Riesgo del Comercio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Historial del Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar SLA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Logs": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Políticas": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Riesgo del Comercio": {
      "main": [
        [
          {
            "node": "Evaluar Riesgo Comercio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historial del Cliente": {
      "main": [
        [
          {
            "node": "Evaluar Historial Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Contexto Paralelo": {
      "main": [
        [
          {
            "node": "Compilar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compilar Contexto": {
      "main": [
        [
          {
            "node": "Sintetizar Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sintetizar Resolución": {
      "main": [
        [
          {
            "node": "Juez de Calidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juez de Calidad": {
      "main": [
        [
          {
            "node": "Extraer Evaluación — Juez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Evaluación — Juez": {
      "main": [
        [
          {
            "node": "Preparar Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Informe": {
      "main": [
        [
          {
            "node": "Switch — Nivel de Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Nivel de Riesgo": {
      "main": [
        [
          {
            "node": "Generar Reporte — BLOCKER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Analista — HIGH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Reporte — MEDIUM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Reporte — LOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — BLOCKER": {
      "main": [
        [
          {
            "node": "Responder — BLOCKER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Analista — HIGH": {
      "main": [
        [
          {
            "node": "Wait — Aprobación HITL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Aprobación HITL": {
      "main": [
        [
          {
            "node": "Procesar Respuesta HITL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta HITL": {
      "main": [
        [
          {
            "node": "Registrar Feedback HITL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Feedback HITL": {
      "main": [
        [
          {
            "node": "Generar Reporte — HIGH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — HIGH": {
      "main": [
        [
          {
            "node": "Responder — HIGH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — MEDIUM": {
      "main": [
        [
          {
            "node": "Responder — MEDIUM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte — LOW": {
      "main": [
        [
          {
            "node": "Responder — LOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Casos Similares": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Evaluar Riesgo Comercio": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Evaluar Historial Cliente": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Verificar SLA": {
      "main": [
        [
          {
            "node": "Merge — Contexto Paralelo",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Despertar API": {
      "main": [
        [
          {
            "node": "Obtener Transacción",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Transacción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "87343ca8-602f-4a16-a50b-a9e78245dc3a",
  "meta": {
    "instanceId": "36ed1d7aaae0ce47f22100fe1416286231c2bf358a8645fb0e55f588462fc9fb"
  },
  "nodeGroups": [],
  "id": "vbZqodrrvO3mHM7K",
  "tags": [
    {
      "updatedAt": "2026-07-22T05:17:01.070Z",
      "createdAt": "2026-07-22T05:17:01.070Z",
      "id": "hPqDvQS3dMdHEFrX",
      "name": "CIRI"
    }
  ]
}